.about-banner{
    /* border: 1px solid red; */
    position: relative;
    padding: 0;
    z-index: 10;
}

.about-banner .about-banner-img{
    /* border: 10px solid blue; */
    height: 79vh;
}

.about-banner .about-banner-img img{
width: 100%;
height: 100%;
object-fit: fill;
}

.about-banner .content{
    /* border: 1px solid red; */
position: absolute;
top: 50%;
right: 10%;
width: 1000px;
height: 200px;
z-index: 20;
color: white;
font-size: 4em;
text-align: end;
}

.about{
    /* border: 1px solid red; */
    padding: 0;
}

.about .about-box{
    /* border: 1px solid red; */
    /* padding: 20px; */
}

.about .about-box .head{
    /* margin-top: 20px; */
    text-align: center;
    /* border: 1px solid red; */
    padding: 30px;
    margin-bottom: 0px;
    /* background-color: var(--color2); */
    /* background-color: #300708; */
    border-radius: 0px;
}

.about .about-box .head h1{
    font-size: 4em;
    color: #887347;
    margin-bottom: 10px;
}
.about .about-box .head p{
    font-size: 1.5em;
    /* color: azure; */
}

.about .about-box .about-flex{
    /* border: 1px solid red; */
    /* padding: 20px; */
    
}

.about .about-box .about-flex .fbox{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 2em;
    /* margin-bottom: 20px; */
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 100px;
}

.flex-box-1{
    background-color: var(--color1);
}

.flex-box-2{
    flex-direction: row-reverse;
    background-color: var(--color2);
}

.flex-box-3{
    /* flex-direction: row-reverse; */
    background-color: var(--color1);
}


.about .about-box .about-flex .image{
    /* border: 1px solid red; */
    height: 300px;
    width: 400px;
}

.about .about-box .about-flex .image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.about .about-box .about-flex  .content{
    /* border: 1px solid red; */
    width: 800px;
    padding: 20px;
}

.about .about-box .about-flex  .content h1{
    font-size: 3em;
    color: #887347;
    margin-bottom: 20px;
}

.about .about-box .about-flex  .content p{
    font-size: 1.4em;
    text-align: justify;
}


@media screen and (max-width:576px){

    .about-banner .about-banner-img{
        /* border: 10px solid blue; */
        height: 35vh;
        position: relative;
    }

    .about-banner .about-banner-img img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .about-banner .content{
        /* border: 1px solid red; */
        position: absolute;
        top: 50%;
        right: 10%;
        width: 1000px;
        height: 200px;
        z-index: 20;
        color: white;
        font-size: 1em;
        text-align: end;
    }

    .about .about-box{
        padding: 0;
    }

    .about .about-box .about-flex{
        padding:20px 0px 0px;
    
    }

    
    .about .about-box .about-flex .fbox{
        gap: 1em;
    }

    .about .about-box .about-flex .image{
        height: 200px;
        width: 400px;
    }

    .about .about-box .about-flex  .content h1{
        font-size: 2em;
        color: #887347;
        margin-bottom: 20px;
    }

    .about .about-box .about-flex  .content p{
        font-size: 1em;
        text-align: justify;
    }

    .about .about-box .head{
        text-align: center;
        /* border: 1px solid red; */
        padding: 20px;
    }

    .about .about-box .head h1{
        font-size: 2em;
        color: #887347;
        margin-bottom: 10px;
    }
    .about .about-box .head p{
        font-size: 1em;
    }

    .about .about-box .about-flex .fbox{
        padding: 30px;
    }


}

