.about-banner{
    /* border: 1px solid red; */
    padding: 0;
}

.about-banner .about-banner-img{
    /* border: 10px solid blue; */
    height: 79vh;
}

.about-banner .about-banner-img img{
width: 100%;
height: 100%;
object-fit: cover;
}

.about-banner .content{
    /* border: 1px solid red; */
position: absolute;
top: 50%;
right: 28%;
width: 700px;
height: 200px;
z-index: 20;
color: white;
font-size: 4em;
text-align: center;
color: #300708;
}


.contact{
    /* border: 1px solid red; */
    color: white;
    background-color: white;
}

.contact .contact-box{
    /* border: 1px solid red; */
    padding: 20px;
}

.contact-box .head{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.contact-box .head .hdb{
    /* border: 1px solid red; */
    height: 150px;
    width: 300px;
    padding: 20px 0px 20px 40px;
    background-color: #300708;
    border-radius: 20px;
    color: white;
    /* text-align: center; */
    transition: 1s;
}

.contact-box .head .hdb:hover{
    transform: translate(-10px,-10px);
}

.contact-box .head .hdb h1{
    margin-bottom: 10px;
    color: white;
}

.contact-box .head .hdb .p1{
    margin-bottom: 5px;
    color: white;
}

.contact-box .contact-grid{
    padding: 10px 0;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: repeat(5,80px);
    gap: 1em;
    justify-content: center;
}

.contact-box .contact-grid .box{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 1s;
}



.contact-box .contact-grid .box input{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 0;
    border: 1px solid black;

}

.contact-box .contact-grid .box textarea{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
}

.contact-box .contact-grid .map{
    /* border: 1px solid blue; */
    grid-column: 1/2;
    grid-row: 1/6;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.contact-box .contact-grid .map iframe {
    height: 100%;
    width: 100%;
}

.contact-box .contact-grid .box button{
    padding: 0.7em 5em;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.1em;
}


@media screen and (max-width:576px){

    .about-banner .about-banner-img{
        /* border: 10px solid blue; */
        height: 35vh;
        position: relative;
    }

    .about-banner .about-banner-img img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .about-banner .content{
        /* border: 1px solid red; */
        position: absolute;
        top: 45%;
        right: 30%;
        width: 1000px;
        height: 200px;
        z-index: 20;
        /* color: white; */
        color: #300708;
        font-size: 1em;
        text-align: end;
    }


    .contact .contact-box{
        padding: 0px;
    }
    .contact-box .contact-grid{
        padding: 10px 0;
        padding: 10px 0;
        /* border: 1px solid green; */
        display:grid;
        grid-template-columns:300px;
        grid-template-rows: repeat(6,80px);
        gap: 1em;
        justify-content: center;
        padding: 0;
        flex-wrap: wrap;
    }

    .contact-box .contact-grid .box{
        padding: 0;
    }

    .contact-box .contact-grid .map{
        grid-column: 1/2;
        grid-row: 1/3;
        /* width: 0; */
        /* height: 0; */
        /* height: 200px; */
    }

    .contact-box .contact-grid .box button{
        font-size: 0.7em;
        padding: 1em 5em;
    }

    .contact-box .head{

    }


}

@media screen and (min-width:576px) and (max-width:768px){

    .contact-box .contact-grid{
        /* padding: 10px 0; */
        padding: 20px 0;
        /* border: 1px solid green; */
        display:grid;
        grid-template-columns:500px;
        grid-template-rows: repeat(6,80px);
        gap: 1em;
        justify-content: center;
        /* padding: 0; */
        flex-wrap: wrap;
    }

   

    .contact-box .contact-grid .map{
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .contact-box .contact-grid .box button{
        font-size: 1em;
        padding: 0.5em 5em;
    }

}

